.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-button {
    justify-content: center;
    align-items: center;
}

.price {
    margin: 0;
    margin-left: 17px;
}

.card {
    display: flex;
    align-items: center;
}
